* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}
h2, p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;;
}

h3 {
    opacity: 0.8;
    color: #426696;
    font-weight: 600;
}

main {
    font-family: "Poppins" , sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;

}

.glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom,
     rgba(255, 255, 255, 0.7),
     rgba(255, 255, 255, 0.3));
     border-radius: 2rem;
     z-index: 2;
     backdrop-filter: blur(2rem);
     display: flex;
}

.circle1, .circle2, .circle3, .circle4 {
    background: white;
    background: linear-gradient(to right bottom,
     rgba(255, 255, 255, 0.8),
     rgba(255, 255, 255, 0.3));
     height: 20rem;
     width: 20rem;
     position: absolute;
     border-radius: 50%;
}

.circle1 {
    top: 5%;
    right: 15%;
}  


.circle2 {
bottom: 5%;
left: 10%;
}

.circle3 {
    right: 10%;
    top: 60%;
    border-radius: 50%;
    height: 10rem;
     width: 10rem;
}

.circle4 {
    left: 18%;
    top: 35%;
    border-radius: 50%;
    height: 5rem;
     width: 5rem;
}
   
.links  img{
    height: 60px;
    width: 60px;
}
.info-dashboard img {
    height: 60px;
    width: 60px;
}

.massage-one img {
    height: 50px;
    width: 50px;
    margin-top: 2rem;
    margin-right: 2rem;
}

.dashboard { 
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom,
     rgba(255, 255, 255, 0.7),
     rgba(255, 255, 255, 0.3));
     border-radius: 2rem;
}

.username {
    color: #426696;
    font-weight: 600;
}

.link {
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
}



.massages {
    flex: 2;
}


.link h2 { 
    padding: 0rem 2rem;
}


.user img {
    width: 70px;
    height: 70px;
}

.info-dashboard {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    border-radius: 2rem;
    color: white;
    padding: 1rem;
    position: relative;
    width: 85%;
}

.info-dashboard img {
    position: absolute;
    right: 14%;
    top: 20%;
    width: 5rem;
    height: 5rem;
}

.info-dashboard h2 {
    width: 55%;
    font-weight: 600;
    color: white;
}

/* MASSAGE - HERO SECTION */

.massage-header {
   margin: 0rem 0rem;
}


.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5rem;
}

.massage-one {
    display: flex;
    background: linear-gradient(to left top,
    rgba(255, 255, 255, 0.2), 
    rgba(255, 255, 255, 0.5));
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 1rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
}

